body {
  background-color: $gray-light-1;
}

@media (max-width: $breakpoint-sm-max) {
  body {
    padding: 30px;
  }
}

.pd-body {
  padding: 50px 150px 50px 150px;
}

.ubuntu-font {
  font-family: $font-ubuntu;
}

.bg-primary-dark {
  background-color: $primary-dark;
}

.bg-gray-light-2 {
  background-color: $gray-light-2;
}

.text-primary-dark {
  color: $primary-dark;
}

.blue-dark {
  color: $primary-dark;
}

.gray-ligth {
  color: $gray-light;
}

.q-btn--outline {
  border: 1px solid;
}

.q-field--outlined .q-field__control:before {
  border: 1px solid $primary-dark;
}

.card-size {
  width: 28% !important;
  margin-right: 15%;
}
